$color-primary-white: #fefefe;
$color-main: #1abc9c;
$color-text-grey: #555252;
$color-for-product: #515151;
$color-for-strings: #fffcfc;
$color-for-links: #ffffff;
$color-backgroung-white: #e9f0fd;
$color-for-price: #7fd9c7;
$color-for-readmore: #4ec6ab;

$primery-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
